@charset "utf-8";

// Variables
:root {
    // Font
    --font: "Gothic A1", sans-serif;

    // Colours
    --primary-react: #61dafb;
    --neutral-react: #333;

    // Sizes
    --title-size: 1.8rem;
    --text-size: 1.4rem;

    // Margins, paddings and corners
    --text-margin: 2rem;
    --rounded-corner: .5rem;
}