@charset "utf-8";

// Fonts

@font-face {
    font-family: "Gothic A1";
    src: url("fonts/GothicA1-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gothic A1";
    src: url("fonts/GothicA1-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}